.Details {
    align-items: center;
    display: flex;
    flex-direction: column;

    &__content {
        align-items: center;
        display: flex;
        flex-direction: column;
        max-width: 420px;
        position: relative;
        text-align: center;
    }

    &__image {
        height: 100%;
        opacity: 0.1;
        pointer-events: none;
        position: fixed;
        top: 0;
        width: auto;
        z-index: -1;
    }

    &__divider {
        width: 80%;
    }

    &__meta {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-column-gap: 1rem;

        dt {
            font-weight: bold;
            text-align: right;

            &::after {
                content: ':';
            }
        }

        dd {
            margin-left: 0;
            text-align: left;
        }
    }

    &__rating {
        text-align: center;
    }

    &__rating-value {
        font-size: 1.4rem;
    }
}
